.post .breadcrumbs,
.breadcrumbs {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0;
}
.breadcrumbs__item {
  display: inline-block;
  font-size: 14px;
}
.breadcrumbs__url {
  color: #83858F;
}
.breadcrumbs__item:after {
  content: '\e804';
  font-family: 'ui-icons';
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 9px;
  margin: 0 6px;
}
