.nav-link {
  line-height: 2rem;
}
#nav2 {
  margin-bottom: 0.5rem !important;
}
@media (min-width: 768px) {
  .nav-link {
    line-height: 4rem;
  }
  #nav2 {
    margin-bottom: 1.5rem;
  }
}
.navbar-brand {
  width: 320px;
  padding: 0;
  margin-right: 0;
}
.navbar-brand img {
  height: 66px;
}
@media (min-width: 768px) {
  .navbar-brand {
    width: 502px;
  }
  .navbar-brand img {
    height: 104px;
  }
}
.navbar-brand img {
  position: relative;
  width: 100%;
  margin-top: 0%;
  margin-bottom: -1.5rem;
  z-index: 999;
}
.nav-border {
  margin-top: -2px;
}
.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.pagination {
  margin-bottom: 30px;
}
.collapse.show .nav-link,
.collapsing .nav-link {
  line-height: 2rem;
}
.nav-link .fa {
  font-size: 1.25rem;
}
.tabs-container {
  margin-bottom: 2rem;
}
.navbar-expand-md .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.navbar-expand-md .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex!important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
