.shop .sidebar .list-group .list-group-item {
  line-height: 1.8;
  font-size: 15px;
  color: #999;
  font-weight: 400;
  text-transform: none;
  border-top: 1px solid #eee;
  padding-left: 0;
  background-color: transparent;
}
.shop .sidebar .list-group .list-group-item:hover,
.shop .sidebar .list-group .list-group-item:focus {
  border-top: 1px solid #eee;
}
.sidebar .card-header {
  font-size: 22px;
  color: #333;
  background: none;
}
.sidebar .card {
  border: none;
}
.shop-items .sidebar .card:first-child {
  margin-top: 0 !important;
}
