html,
body {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: #54555E;
  width: 100%;
  height: 100%;
}
body.white {
  background-color: #fff;
}
body img {
  border: none;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.form-fields {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-fields > .form-group:first-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.form-fields input[type=email],
.form-fields input[type=text] {
  border-radius: 5px 0 0 5px;
}
.form-fields input[type=email],
.form-fields input[type=text] {
  margin-bottom: 8px;
}
.widget-search-button,
.search-button,
.form-fields input[type=submit] {
  border-radius: 0 5px 5px 0;
}
.form-fields input[type=submit] {
  margin-bottom: 0;
  width: auto;
}
.hidden {
  display: none;
}
.btn {
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #171821;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-lg,
.btn-lg.btn-button {
  font-size: 1rem;
  padding: 0 1rem;
}
.btn-color {
  background-color: #2D95E3;
}
@media (min-width: 1280px) {
  .container {
    max-width: 1248px;
  }
}
/* @media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
} */
.portfolio-item {
  margin-bottom: 30px;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.5px;
}
h1 {
  font-size: 2rem;
  letter-spacing: -0.03em;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1.44rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 1.625rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  h3 {
    font-size: 1.125rem;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.1875rem;
  }
  h4 {
    font-size: 1.125rem;
  }
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}
p {
  font-size: 1rem;
  color: #54555E;
  font-weight: normal;
  line-height: 1.625rem;
  margin: 0 0 0.625rem;
}
address {
  font-style: normal;
  margin-bottom: 0;
  font-size: 1rem;
}
.lead {
  font-size: 1.125rem;
  line-height: 1.875rem;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
@media only screen and (max-width: 1199px) {
  .text-lg-center {
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .text-md-center {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .text-sm-center {
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  .text-xs-center {
    text-align: center;
  }
}
blockquote {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
blockquote p {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 0 !important;
  position: relative;
  color: #171821;
}
blockquote cite {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #83858F;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #E3E4E8;
}
.pageTitles {
  font-family: 'Playfair Display', serif;
}
h2.pageTitles {
  font-size: 1.875rem;
}
.sidebar .card-header {
  font-family: 'Playfair Display', serif;
}
.post .breadcrumbs,
.breadcrumbs {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0;
}
.breadcrumbs__item {
  display: inline-block;
  font-size: 14px;
}
.breadcrumbs__url {
  color: #83858F;
}
.breadcrumbs__item:after {
  content: '\e804';
  font-family: 'ui-icons';
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 9px;
  margin: 0 6px;
}
/*-------------------------------------------------------*/
/* Form Elements
/*-------------------------------------------------------*/
input,
select,
textarea {
  height: 46px;
  border: 1px solid #E3E4E8;
  background-color: #fff;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
textarea {
  height: auto;
  display: block;
  padding: 8px 16px;
  margin-bottom: 24px;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type=search] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus {
  border-color: #2D95E3;
  background-color: #fff;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Change Color of Placeholders */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #54555E;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #54555E;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #54555E;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #54555E;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-left: 12px;
  background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
select::-ms-expand {
  display: none;
}
label {
  color: #171821;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 6px;
}
/* Checkboxes & Radio Buttons
-------------------------------------------------------*/
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label:before {
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  font-size: 13px;
  margin: -4px 10px 0 0;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #dbdce1;
}
input[type="checkbox"]:checked + label:after {
  font-family: 'ui-icons';
  content: "\f383";
  display: inline-block;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  line-height: 22px;
}
.radio > li,
.checkbox > li {
  padding: 7px 0;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 0 0 0 1px #dbdce1;
  box-shadow: 0 0 0 1px #dbdce1;
  border-radius: 40px;
  margin: -3px 10px 0 0;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0;
}
input[type="radio"]:checked + label:before {
  background-color: #000;
  border: 6px solid #fff;
  padding: 1px;
}
input[type="radio"]:focus {
  outline: none;
}
#contact-form .message {
  height: 50px;
  width: 100%;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  float: none;
  margin-top: 20px;
  display: none;
  color: #fff;
}
#contact-form .message.error {
  background-color: #f44336;
}
#contact-form .message.success {
  background-color: #4CAF50;
}
@media (min-width: 1280px) {
  .container.contact-form {
    padding: 0 10rem;
  }
}
.card {
  border: none;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card-footer {
  border: none;
  background: none;
}
.card-header {
  border: none;
  background: none;
}
.shop-items .card {
  margin: 0 15px;
  margin-bottom: 30px;
}
.img-holder {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.content-box {
  background-color: #fff;
  padding: 40px;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}
.post .header {
  margin-bottom: 24px;
}
.post .header h1 {
  font-size: 36px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.post .wrap {
  margin-top: 40px;
  margin-bottom: 40px;
}
.post .contents > p {
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 30px;
}
.post .share {
  margin-bottom: 16px;
}
.contents ol,
.contents ul {
  padding-left: 24px;
  line-height: 26px;
}
.contents ul {
  list-style: disc;
}
.post.wide .header {
  position: relative;
  height: 609px;
  color: #fff;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.post.wide .header h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  max-width: 570px;
}
.header .holder {
  text-align: left;
  position: absolute;
  bottom: 24px;
  padding: 0 24px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .post .contents {
    padding-left: 30px;
  }
  .post .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.category {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #2D95E3;
  background-color: #19C22A;
  padding: 5px 10px;
  z-index: 2;
  color: #fff;
  margin-bottom: 0;
  display: inline-block;
  border-radius: 5px;
}
.meta-holder {
  margin-top: 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.post.wide .meta-holder {
  margin-bottom: 0;
}
.meta-holder .meta {
  margin-top: 0;
}
.meta li {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #83858F;
}
.post.wide .meta li {
  color: #fff;
}
.meta i {
  display: inline-block;
  margin-right: 5px;
}
.meta a {
  color: #2D95E3;
}
.meta li:after {
  content: '';
  display: inline-block;
  margin: 0 3px;
}
.meta li.meta-author:after {
  content: '-';
}
.socials {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.socials--nobase a {
  width: 13px;
  height: auto;
  border: 0;
  line-height: 32px;
  margin-right: 15px;
  margin-bottom: 0;
  color: #54555E;
  background-color: transparent;
}
.socials--nobase a:hover,
.socials--nobase a:focus {
  color: #fff;
  background-color: transparent !important;
}
.socials--white-base a {
  background-color: #fff;
  color: #171821;
}
.socials--dark .social-facebook:hover,
.socials--dark .social-facebook:focus {
  color: #39599f !important;
}
.socials--dark .social-twitter:hover,
.socials--dark .social-twitter:focus {
  color: #55ACEE !important;
}
.socials--dark .social-google-plus:hover,
.socials--dark .social-google-plus:focus {
  color: #DE4B39 !important;
}
.socials--dark .social-youtube:hover,
.socials--dark .social-youtube:focus {
  color: #c61d23 !important;
}
.socials--dark .social-snapchat:hover,
.socials--dark .social-snapchat:focus {
  color: #fffb01 !important;
}
.socials--dark .social-linkedin:hover,
.socials--dark .social-linkedin:focus {
  color: #0e76a8 !important;
}
.socials--dark .social-pinterest:hover,
.socials--dark .social-pinterest:focus {
  color: #c8232c !important;
}
.socials--dark .social-instagram:hover,
.socials--dark .social-instagram:focus {
  color: #e1306c !important;
}
.socials--dark .social-rss:hover,
.socials--dark .social-rss:focus {
  color: #ef822a !important;
}
.socials--grey a {
  background-color: #f7f7f7;
  color: #171821;
}
.socials--medium a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 16px;
}
.socials--large a {
  height: 46px;
  width: 46px;
  line-height: 46px;
  font-size: 16px;
}
.socials--wide a {
  width: 100%;
  padding: 0 15px;
  margin: 0;
  margin-bottom: 16px;
}
.socials--rounded a {
  border-radius: 50% !important;
}
.social {
  display: inline-block;
  line-height: 32px;
  width: 32px;
  height: 32px;
  color: #fff;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.social:hover,
.social:focus {
  color: #fff;
}
.social__text {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
@media only screen and (max-width: 1199px) {
  .social__text {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .social__text {
    display: inline-block;
  }
}
@media only screen and (max-width: 575px) {
  .social__text {
    display: none;
  }
}
.social-facebook {
  background-color: #39599f;
}
.social-facebook:hover {
  background-color: #324e8c !important;
  color: #fff !important;
}
.social-twitter {
  background-color: #55ACEE;
}
.social-twitter:hover {
  background-color: #3ea1ec !important;
  color: #fff !important;
}
.social-google-plus {
  background-color: #DE4B39;
}
.social-google-plus:hover {
  background-color: #d93824 !important;
  color: #fff !important;
}
.social-youtube {
  background-color: #c61d23;
}
.social-youtube:hover {
  background-color: #b01a1f !important;
  color: #fff !important;
}
.social-snapchat {
  background-color: #fffb01;
}
.social-snapchat:hover {
  background-color: #e7e300 !important;
  color: #fff !important;
}
.social-linkedin {
  background-color: #0e76a8;
}
.social-linkedin:hover {
  background-color: #0c6590 !important;
  color: #fff !important;
}
.social-pinterest {
  background-color: #c8232c;
}
.social-pinterest:hover {
  background-color: #b21f27 !important;
  color: #fff !important;
}
.social-instagram {
  background-color: #e1306c;
}
.social-instagram:hover {
  background-color: #d81f5e !important;
  color: #fff !important;
}
.social-rss {
  background-color: #ef822a;
}
.social-rss:hover {
  background-color: #ed7412 !important;
  color: #fff !important;
}
.sticky-col {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 60px;
}
.post-list-item {
  padding: 0;
  padding-bottom: 16px;
  position: relative;
}
.post-list-item .img-holder {
  width: 88px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}
.thumb-container {
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding-bottom: 100%;
}
.thumb-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
}
.post-list-item .body {
  overflow: hidden;
}
.post-list-item .entry-title {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
  margin-top: 5px;
}
.post-list-item .entry-title a {
  color: #171821;
}
.newsletter .text {
  color: #83858F;
}
.newsletter .text i {
  color: #AFB2BD;
  margin-right: 5px;
  font-size: 18px;
}
.portfolio-item .category {
  position: absolute;
  left: 16px;
  bottom: 16px;
}
.portfolio-item .img-holder {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 230px;
}
.portfolio-item .img-holder img {
  height: 100%;
  border: none;
}
.shop .list-group .list-group-item {
  font-family: "Source Sans Pro", sans-serif;
  color: #171821;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.text-muted {
  color: #e60a0a !important;
}
.container.shop {
  margin-top: 2em;
}
.shop .card-header {
  background: #343a40;
  color: #fff;
}
.carousel-item {
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-item img {
  height: 100%;
  margin: 0 auto;
}
.carousel-inner {
  background-image: url(/img/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.small-item-list {
  padding: 0 10%;
}
.small-item-list .card-holder {
  width: 100%;
  position: relative;
}
/* Media Queries */
@media only screen and (min-width: 480px) {
  .item-list {
    column-count: 1;
  }
  .item-list.home {
    column-count: 1;
  }
}
@media only screen and (min-width: 700px) {
  .item-list {
    column-count: 2;
  }
  .item-list.home {
    column-count: 3;
  }
}
@media only screen and (min-width: 900px) {
  .item-list {
    column-count: 3;
  }
  .item-list.home {
    column-count: 4;
  }
  .small-item-list {
    padding: 0 10%;
  }
  .small-item-list .card-holder {
    width: 50%;
    position: relative;
  }
}
@media only screen and (min-width: 1200px) {
  .item-list {
    column-count: 3;
  }
  .item-list.home {
    column-count: 4;
  }
}
.shop-items .card:hover {
  border-color: #dec18c;
}
.shop-items .card:hover .card-img-top {
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.shop-items .card:hover .card-img-top {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.shop-wrap {
  z-index: 999;
  margin-bottom: 2rem;
}
.shop-wrap .card {
  display: inline-block;
}
.product-flash {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
}
.product-flash span {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: auto;
  height: auto;
  line-height: 43px;
  padding: 5px;
  display: block;
  text-align: center;
  background-color: #fdb3a6;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.page404 .content-box {
  height: 500px;
  text-align: center;
}
.shop .sidebar .list-group .list-group-item {
  line-height: 1.8;
  font-size: 15px;
  color: #999;
  font-weight: 400;
  text-transform: none;
  border-top: 1px solid #eee;
  padding-left: 0;
  background-color: transparent;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.shop .sidebar .list-group .list-group-item:hover,
.shop .sidebar .list-group .list-group-item:focus {
  border-top: 1px solid #eee;
  padding-left: 25px;
}
.shop .sidebar .list-group .list-group-item:first-child {
  border: none;
}
.sidebar .card-header {
  font-size: 22px;
  color: #333;
  background: none;
}
.sidebar .card {
  border: none;
}
.shop-items .sidebar .card:first-child {
  margin-top: 0 !important;
}
.shop-header {
  height: 50vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.shop-header h1,
.main-header {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 4.5rem;
  line-height: 5.375rem;
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.5);
  /*   background-color: rgba(253,179,166,0.8); */
}
.header-banner {
  width: 380px;
  height: 220px;
  position: absolute;
  text-align: center;
  padding: 60px 45px;
  background-color: #fff;
  bottom: 20px;
  left: 50%;
  margin-left: -190px;
}
.header-banner::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #dec18c;
}
.header-banner .sub-title {
  text-decoration: underline;
  font-weight: 600;
}
@media (min-width: 768px) {
  .header-banner {
    left: auto;
    margin-left: 0;
    bottom: 20px;
    right: 40px;
  }
}
.nav-link {
  line-height: 4rem;
}
.navbar-brand {
  width: 60%;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar-brand {
    width: 70%;
  }
}
.navbar-brand img {
  position: relative;
  width: 100%;
  margin-top: 0%;
  margin-bottom: -1.5rem;
  z-index: 999;
}
.nav-border {
  margin-top: -2px;
}
.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.pagination {
  margin-bottom: 30px;
}
.collapse.show .nav-link,
.collapsing .nav-link {
  line-height: 2rem;
}
.nav-link .fa {
  font-size: 1.25rem;
}
.tabs-container {
  margin-bottom: 2rem;
}
.footer.bg-dark h4 {
  color: #fff;
}
/* @navbar: @white;
@navbarText: @brand; */
body {
  color: #333;
}
.wide .navbar-bottom .navbar-nav .nav-link {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
a {
  color: #ffcc00;
}
a:hover {
  text-decoration: none;
  color: #ffcc00;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffcc00;
}
.nav-border {
  border-bottom: 2px solid #ffcc00;
  margin-top: -2px;
}
.shop h4.card-title {
  font-size: 15px;
  text-align: center;
}
.price {
  color: #ffcc00;
}
h5.price {
  font-size: 18px;
  text-align: center;
}
.card {
  border-radius: 0;
  border: 1px solid #ffcc00;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.shop .card-header {
  background: #ffcc00;
  background-color: #ffcc00;
  color: #fff;
}
.sidebar .card-header {
  color: #333;
  background: none;
}
h2.price {
  font-size: 36px;
  text-align: center;
}
.stars {
  margin-right: 20px;
}
.product-rating {
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn {
  padding: 12px 25px;
  text-transform: none;
}
.btn-primary {
  background-color: #ffcc00;
}
.btn-primary:hover {
  background-color: #cca300;
}
.shop-description,
.shop-description p {
  color: #333;
}
.line {
  border-color: #ffcc00;
}
.page-link {
  color: #ffcc00;
}
.page-link:hover {
  color: #cca300;
}
.page-item.disabled .page-link {
  color: #4a4a4a;
}
.page-item.active .page-link {
  background-color: #ffcc00;
  border-color: #ffcc00;
}
.header-banner::before {
  border-color: #ffcc00;
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #ffcc00;
}
.header-banner .sub-title {
  color: #ffcc00;
}
.btn-outline {
  background: transparent;
  border: 2px solid #ffcc00;
}
.product-flash span {
  background-color: #ffcc00;
}
.overlay {
  background-color: rgba(25, 90, 90, 0.5);
}
.cc-window {
  background-color: #0195b0 !important;
}
.cc-btn {
  background-color: #fff;
}
.shop .sidebar .list-group .list-group-item:hover,
.shop .sidebar .list-group .list-group-item:focus {
  color: #ffcc00;
}
