.card {
    border: none;
    -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-footer {
    border: none;
    background: none;
}
.card-header {
    border: none;
    background: none;
}