.socials {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.socials--nobase a {
    width: 13px;
    height: auto;
    border: 0;
    line-height: 32px;
    margin-right: 15px;
    margin-bottom: 0;
    color: #54555E;
    background-color: transparent;
}

.socials--nobase a:hover,
.socials--nobase a:focus {
    color: #fff;
    background-color: transparent !important;
}

.socials--white-base a {
    background-color: #fff;
    color: #171821;
}

.socials--dark .social-facebook:hover,
.socials--dark .social-facebook:focus {
    color: #39599f !important;
}

.socials--dark .social-twitter:hover,
.socials--dark .social-twitter:focus {
    color: #55ACEE !important;
}

.socials--dark .social-google-plus:hover,
.socials--dark .social-google-plus:focus {
    color: #DE4B39 !important;
}

.socials--dark .social-youtube:hover,
.socials--dark .social-youtube:focus {
    color: #c61d23 !important;
}

.socials--dark .social-snapchat:hover,
.socials--dark .social-snapchat:focus {
    color: #fffb01 !important;
}

.socials--dark .social-linkedin:hover,
.socials--dark .social-linkedin:focus {
    color: #0e76a8 !important;
}

.socials--dark .social-pinterest:hover,
.socials--dark .social-pinterest:focus {
    color: #c8232c !important;
}

.socials--dark .social-instagram:hover,
.socials--dark .social-instagram:focus {
    color: #e1306c !important;
}

.socials--dark .social-rss:hover,
.socials--dark .social-rss:focus {
    color: #ef822a !important;
}

.socials--grey a {
    background-color: #f7f7f7;
    color: #171821;
}

.socials--medium a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 16px;
}

.socials--large a {
    height: 46px;
    width: 46px;
    line-height: 46px;
    font-size: 16px;
}

.socials--wide a {
    width: 100%;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 16px;
}

.socials--rounded a {
    border-radius: 50% !important;
}

.social {
    display: inline-block;
    line-height: 32px;
    width: 32px;
    height: 32px;
    color: #fff;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.social:hover,
.social:focus {
    color: #fff;
}

.social__text {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

@media only screen and (max-width: 1199px) {
    .social__text {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .social__text {
        display: inline-block;
    }
}

@media only screen and (max-width: 575px) {
    .social__text {
        display: none;
    }
}

.social-facebook {
    background-color: #39599f;
}

.social-facebook:hover {
    background-color: #324e8c !important;
    color: #fff !important;
}

.social-twitter {
    background-color: #55ACEE;
}

.social-twitter:hover {
    background-color: #3ea1ec !important;
    color: #fff !important;
}

.social-google-plus {
    background-color: #DE4B39;
}

.social-google-plus:hover {
    background-color: #d93824 !important;
    color: #fff !important;
}

.social-youtube {
    background-color: #c61d23;
}

.social-youtube:hover {
    background-color: #b01a1f !important;
    color: #fff !important;
}

.social-snapchat {
    background-color: #fffb01;
}

.social-snapchat:hover {
    background-color: #e7e300 !important;
    color: #fff !important;
}

.social-linkedin {
    background-color: #0e76a8;
}

.social-linkedin:hover {
    background-color: #0c6590 !important;
    color: #fff !important;
}

.social-pinterest {
    background-color: #c8232c;
}

.social-pinterest:hover {
    background-color: #b21f27 !important;
    color: #fff !important;
}

.social-instagram {
    background-color: #e1306c;
}

.social-instagram:hover {
    background-color: #d81f5e !important;
    color: #fff !important;
}

.social-rss {
    background-color: #ef822a;
}

.social-rss:hover {
    background-color: #ed7412 !important;
    color: #fff !important;
}
