body {
    color: #333;
    font-family: "Montserrat", sans-serif;
}
.wide .navbar-bottom .navbar-nav .nav-link {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

a {
    color: #dec18c;
}
a:hover {
    text-decoration: none;
    color: #dec18c;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #dec18c;
}
.shop h4.card-title {
    font-size: 15px;
    text-align: center;
}
.price {
    color: #dec18c;
}
h5.price {
    font-size: 18px;
    text-align: center;
}
.card {
    border-radius: 0;
    border: 1px solid #eee;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.shop .card-header {
    background: #dec18c;
    background-color: #dec18c;
    color: #fff;
}
h2.price {
    font-size: 36px;
    text-align: center;
}
.stars {
    margin-right: 20px;
}

.product-rating {
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn {
    padding: 12px 25px;
    text-transform: none;
}
.btn-primary {
    background-color: #dec18c;
}
.btn-primary:hover {
    background-color: #e0b461;
}
.shop-description, .shop-description p {
    color: #777;
}

.line {
    border-color: #dec18c;
}
.page-link {
    color: #dec18c;
}
.page-link:hover {
    color: #664e22;
}
.page-item.disabled .page-link {
    color: #69645a;
}

.page-item.active .page-link {
    background-color: #dec18c;
    border-color: #dec18c;
}