.post-list-item {
    padding: 0;
    padding-bottom: 16px;
    position: relative;
}
.post-list-item .img-holder {
    width: 88px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}
.thumb-container {
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding-bottom: 100%;
}
.thumb-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
}
.post-list-item .body {
    overflow: hidden;
}
.post-list-item .entry-title {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-top: 5px;
}
.post-list-item .entry-title a {
    color: #171821;
}

.newsletter .text {
    color: #83858F;
}
.newsletter .text i {
    color: #AFB2BD;
    margin-right: 5px;
    font-size: 18px;
}